<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jieun.velog.mapper.UserMapper">
    <select id="findByLoginIdAndPwd" resultType="User">
        /* LoginId, Pwd 로 일치하는 사용자 정보 조회 */
        SELECT USER_NO
             , ID
             , EMAIL
             , NAME
             , PWD
             , GRADE
             , PROFILE_IMG_PATH
        FROM   USER
        WHERE  EMAIL = #{email} AND PWD = #{pwd}
    </select>
</mapper>